@font-face {
    font-family: "fonty"; /* Replace with your desired font name */
    src: url("../fonts/fonty.txt") format("text");
  }
  @font-face {
    font-family: "ph"; /* Replace with your desired font name */
    src: url("../fonts/ph1.otf") format("opentype");
  }

  @font-face {
    font-family: "ai"; /* Replace with your desired font name */
    src: url("../fonts/ai.otf") format("opentype");
  }

  html, body {
    height:  100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: arial;

  }

  main {
    flex: 1
  }

  footer {
    margin-top: 40px;
  }
  
  #socialsLogo img {
    height: 20px;
    width: 20px;
    margin: 5px;
  }

  #intro_text {
    font-size: 20px;
  }

  #logo {
    height: 100px;
    width: 100px;
    margin: 0 auto
  }

  #logo img {
    height: 100%;
    width: auto;
    object-fit: cover ;
  }


  #center_img {
    height: auto;
    width: 100%;
  }

  #short-text {
    font-size: 35px;
    padding-top: 5%;
    color: white;
    font-family: "ph";
  }

  footer p {
    color: #404040;
    font-size: 15px;
    font-weight: bold;
    margin: 2px;
  }

  footer img {
    height: 15px;
    width: 15px;
    margin-right: 3px;
  }